/* GetCab Header Part CSS starts here */
.header{
  background-color: #000000;
  padding: 5px;
}
.header-container{
  width: 1170px;
}
.fa-home{
  color: #ddab15;
  font-size: 15px;
}
.home{
  color: #ddab15;
  font-size: 11px;
  margin-left: 5px;

}
.fa-phone{
  color: #ddab15;
  font-size: 15px;

}
.phone{
  color: #ddab15;
  font-size: 11px;
  text-align: center;
  margin-left: 5px;
}
.fa-envelope-o{
  color: #ddab15;
  font-size: 15px;
}
.envelope{
  color: #ddab15;
  font-size: 11px;
  margin-left: 5px;
  text-align: center;
  margin-left: 5px;
}
/* GetCab Header Part CSS ends here */

/* Getcab navigation menu css code starts here */
.navbar ul li{
  padding: 0 10px;
  display: inline;
}
.navbar ul li a{
  color: #000;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Open Sans',
}
.navbar ul li a:hover{
  background-color: #ffc61a;
  border-radius: 2px;
  color: #000;
}
.glyphicon{
  background-color: black;
}
.logo{
  width: 70px;
}
.navbar-toggler-icon{
  /* background-color: black; */
}
/* Getcab navigation menu css code Ends here */

/* Getcab Banner css code Starts here */
.banner{
  height:300px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left;
  overflow: hidden;
}
.aboutus{
  text-align: center;
  color: #f8fb0a;
  font-weight: bold;
  font-size: 13px;
  margin-top: 100px;

}
.who-we-are{
color: #fff;
text-align: center;
font-weight: bold;

}
.our-service-section{
  margin-top: 100px;
}
.welcome{
  font-size: 20px;
  color: #ffc61a;
  font-weight: bold;
  text-align: center;
}
.our-service{
  text-align: center;
  font-weight: bold;
  font-size: 34px;
}
.service-description{
  text-align: center;
  font-size: 13px;
}
.card-1{
  border: 0;
}

.card-header-1{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.card-1-description{
  font-size: 12px;
  text-align: center;
}

.tariff-section{
  height:600px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: hidden;
}
.see-our{
  text-align: center;
  color: #f4b906;
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.tariffs{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.tariffs-container{
  text-align: center;
}
.car-image-1:hover{
  border: 5px solid #ffc61a;

}
.tariff-header1{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.tariff-price{
  text-align: center;
  font-size: 17px;
}
.book-now{
  background-color: #ffc61a;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  color: #000;
  font-size: 13px;
}


/* @media screen and (max-width:767px){
  .tariff-section{
    height:auto;
  }
}
@media screen and (max-width:991px){
  .tariff-section{
    height:auto;
  }
} */
/* Getcab Footer Section css code Starts here */
.footer{
  background-color: #000;
  /* height: 590px; */
  padding-bottom: 20px;
  margin-top: 50px;
}
.top-visited-cities{
  color: #fff;
  margin-top: 30px;
}
.outstation-routes{
  color: #fff;
  margin-top: 20px;
}
ul li{
  font-size: 12px;
  color: #fff;
}
.social-link{
  color: #fff;
  font-size:14px;
}
.fa-facebook{
  color: #324d82;
  font-size: 30px;
  margin-left: 100px;
}
.fa-twitter{
  color: #03a9f4;
  font-size: 30px;
  margin-left: 10px;
}
.fa-instagram{
  color: #a71d8f;
  font-size: 30px;
  margin-left: 10px;
}
.fa-youtube-play{
  color: #f61c0d;
  font-size: 30px;
  margin-left: 10px;

}
.footer-menu{
  display: block;
  text-align: right;
  margin-bottom: 10px;
}
.copyright{
  text-align: right;
  display: block;
}
@media screen and (max-width:577px){
  .footer{
    height: auto;
  }
}
@media screen and (max-width:992px){
  .footer{
    height: auto;
  }
}
@media screen and (max-width:1200px){
  .footer{
    height: auto;
  }
}
/* Getcab Footer Section css code Ends here */
/* Small Devices, Tablets */
@media only screen and (max-width : 1000px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
